Host *
  AddKeysToAgent yes
  UseKeychain yes

Host work
  Hostname remote-desktop.example.com
  ForwardAgent yes

Host github.com gist.github.com
  User git
  IdentityFile ~/.ssh/nirantak_personal

Host pi rpi pie.run
  User nirantak
  Hostname 192.168.1.40
  IdentityFile ~/.ssh/nirantak_personal

# Host *
#   User nirantak
#   ServerAliveInterval 20
#   ServerAliveCountMax 180
