# Ghostty config - https://ghostty.org/docs/config/reference
# ghostty +show-config --default --docs
# ghostty +show-config

window-theme = dark
theme = Andromeda
# ghostty +list-themes

font-family = "Jetbrains Mono"
# ghostty +list-fonts
font-size = 14
background-opacity = 0.95
background-blur-radius = 20
unfocused-split-opacity = 0.5
unfocused-split-fill = #000000

cursor-style = bar
cursor-click-to-move = true
focus-follows-mouse = true
scrollback-limit = 99999
clipboard-trim-trailing-spaces = true
clipboard-paste-protection = true

working-directory = /Users/nraghav/code
window-inherit-working-directory = true
window-padding-x = 4
window-height = 20
window-width = 80
window-new-tab-position = current

shell-integration = detect
shell-integration-features = true
macos-auto-secure-input = true
macos-secure-input-indication = true
quit-after-last-window-closed = true

keybind = global:cmd+grave_accent=toggle_quick_terminal
keybind = cmd+shift+r=reload_config
