Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/nirantak_personal
  ServerAliveInterval 20
  ServerAliveCountMax 180

Host work
  Hostname remote-desktop.example.com
  ForwardAgent yes
  IdentityFile ~/.ssh/nirantak_work
  IdentityAgent SSH_AUTH_SOCK
  ServerAliveInterval 300
  ServerAliveCountMax 2
  LocalForward 0.0.0.0:3000 127.0.0.1:3000

Host *
  User nirantak
