Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/nirantak_personal
  ServerAliveInterval 20
  ServerAliveCountMax 180

Host work
  Hostname remote-desktop.example.com
  ForwardAgent yes
  IdentityFile ~/.ssh/nirantak_work

Host github.com gist.github.com
  User git
  IdentityFile ~/.ssh/nirantak_personal

Host pi rpi pie.run
  User nirantak
  Hostname 192.168.1.40

# Host *
#   User nirantak
