[user]
  name = Nirantak Raghav
  email = me@nirantak.com
  signingkey = 764B054CBFE95423

[core]
  editor = vim
  excludesfile = ~/dotfiles/git/global.gitignore
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -FiR

[color]
  diff = auto
  status = auto
  ui = true

[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[push]
  default = upstream
  followTags = true
  autoSetupRemote = true

[log]
  date = human

[blame]
  date = human

[fetch]
  prune = true

[remote "origin"]
  prune = true

[diff]
  renames = copies

[merge]
  stat = true

[advice]
  statusHints = false

[help]
  autocorrect = 1

[alias]
  l1 = log -i -1
  unstage = reset HEAD --
  uncommit = reset HEAD~
  amend = commit --amend --no-edit
  changes = diff --name-status
  stat = diff --stat
  whois = log -i -1 --pretty="format:%an <%ae>" --author="$1"

[github]
  user = nirantak
