# aliases

alias u='sudo apt update && sudo apt upgrade'
alias b='browser-sync start --server --files="**/*"'
alias cd..="cd .."
alias l='ls -lh'
alias ll='ls -AlF'
alias la='ls -a'
alias rm='rm -I'
alias clip='xsel --clipboard'
alias note="gapplication launch org.gnome.gedit ~/Documents/notes.txt"
alias note2="gapplication launch org.gnome.gedit ~/Downloads/PD/Notes/notes.txt"

# Python
alias python='python3'
alias pip='pip3'
alias pipup="pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1 | xargs -n1 sudo -H pip3 install -U"
alias py="pipenv run python"

# tmux
alias tmux="TERM=screen-256color-bce tmux -u"

# edit dotfiles
alias dotfiles="cd ~/dotfiles && git status && subl ."

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Wget
alias dl="wget -r -e robots=off -nc -np"
alias dl2="wget -r -m -nc -np"
