# aliases

alias u="sudo apt update && sudo apt upgrade"
alias b="browser-sync start --server --files='**/*'"
alias l="ls -lh"
alias ll="ls -AlF"
alias la="ls -a"
alias rm="rm -I"
alias clip="xsel --clipboard"
alias note="vim +startinsert ~/Documents/notes.txt"
alias note-pd="vim +startinsert ~/Downloads/PD/Notes/notes.txt"
alias ngrok="~/ngrok"
alias dman="~/dotfiles/scripts/dman.sh"
alias up="ping 8.8.8.8 -c 3"
alias ip-ext="dig +short myip.opendns.com @resolver1.opendns.com"
alias ip-int="ip a | grep -oP '(?<=inet )[^ ]*'"

# tmux
alias tmux="TERM=screen-256color-bce tmux -u"

# edit dotfiles
alias dotfiles="cd ~/dotfiles && git status && subl ."

# Pretty print the path
alias path="echo $PATH | tr -s ':' '\n'"
