# Environment variables

export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Make vim the default editor.
export EDITOR="vim";
export VISUAL="vim";

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history";
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE="32768";
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE="sloppy";

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING="UTF-8";

if [ -n "$BASH" ]; then
	# Increase Bash history size. Allow 32³ entries; the default is 500.
	export HISTSIZE="32768";
	export HISTFILESIZE="${HISTSIZE}";
	export HISTCONTROL="ignoreboth:erasedups";
fi

export LESS="-iR"
export LESS_TERMCAP_mb=$(tput bold; tput setaf 3) # start blink - yellow
export LESS_TERMCAP_md=$(tput bold; tput setaf 2) # start bold - green
export LESS_TERMCAP_me=$(tput sgr0) # turn off bold, blink and underline
# export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 6) # start standout - yellow on cyan
export LESS_TERMCAP_se=$(tput rmso; tput sgr0) # stop standout
export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 7) # start underline - white
export LESS_TERMCAP_ue=$(tput rmul; tput sgr0) # stop underline
export MANPAGER="less";
export PAGER="less";

export PYENV_ROOT="$HOME/.pyenv";
export NVM_DIR="$HOME/.nvm"

export JAVA_HOME=/usr/lib/jvm/java-8-oracle
export ANDROID_HOME=$HOME/Android/Sdk

export PATH="$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/emulator"
export PATH="/snap/bin:$HOME/.local/bin:$PATH"
export PATH="$PATH:$HOME/.pyenv/bin:$HOME/.rbenv/bin"

export GPG_TTY=$(tty)
