# Environment variables

export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Make vim the default editor.
export EDITOR="vim";
export VISUAL="vim";

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history";
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE="32768";
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE="sloppy";

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING="UTF-8";

if [ -n "$BASH" ]; then
	# Increase Bash history size. Allow 32³ entries; the default is 500.
	export HISTSIZE="32768";
	export HISTFILESIZE="${HISTSIZE}";
	# Omit duplicates and commands that begin with a space from history.
	export HISTCONTROL="ignoreboth:erasedups";
fi

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

export MANPAGER="less";
export PAGER="less";

export PYENV_ROOT="$HOME/.pyenv";

export PATH="$HOME/.pyenv/bin:$HOME/.rbenv/bin:$HOME/.local/bin:$PATH"
export NVM_DIR="$HOME/.nvm"

eval "$(rbenv init -)"
eval "$(pyenv init -)"
