[user]
    name = Full Name
    email = user@email.com
    signingkey = xxxxxxxxxxxxxxxx

[core]
    editor = vim
    excludesfile = ~/dotfiles/global.gitignore
    autocrlf = input

[color]
    diff = auto
    status = auto
    ui = true

[color "diff"]
    meta = yellow bold
    frag = magenta bold  # line info
    old = red            # deletions
    new = green          # additions

[commit]
    gpgsign = true

[push]
    default = current

[log]
    date = relative

[fetch]
    prune = true

[remote "origin"]
    prune = true

[diff]
    renames = copies

[merge]
    stat = true

[advice]
    statusHints = false

[help]
    autocorrect = 1

[alias]
    pm = "!git push -u origin master"
    c = commit -S -m
    a = add .
    unstage = reset HEAD --
    amend = commit --amend --no-edit

[github]
    user = nirantak
