# Auto Detect Text Files And Perform LF Normalization
* text=auto

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.sql      text

# Source Code
*.c        text diff=cpp
*.h        text diff=cpp
*.c++      text diff=cpp
*.h++      text diff=cpp
*.cpp      text diff=cpp
*.hpp      text diff=cpp
*.cc       text diff=cpp
*.hh       text diff=cpp
*.m        text diff=objc
*.mm       text diff=objc
*.bat      text eol=crlf
*.css      text diff=css
*.htm      text diff=html
*.html     text diff=html
*.go       text diff=golang
*.inc      text
*.ini      text
*.js       text diff=javascript
*.json     text
*.jsx      text diff=html
*.md       text diff=markdown
*.php      text diff=php
*.pl       text diff=perl
*.py       text diff=python
*.rb       text diff=ruby
*.rake     text diff=ruby
*_spec.rb  text diff=rspec
*.erb      text diff=html
*.sass     text diff=css
*.scss     text diff=css
*.sh       text eol=lf
*.sql      text
*.ts       text diff=javascript
*.tsx      text diff=html
*.xml      text diff=html
*.xhtml    text diff=html

# Docker
*.dockerignore text
Dockerfile     text

# Documentation
*.markdown   text
*.md         text
*.mdwn       text
*.mdown      text
*.mkd        text
*.mkdn       text
*.mdtxt      text
*.mdtext     text
*.txt        text
AUTHORS      text
CHANGELOG    text
CHANGES      text
CONTRIBUTING text
COPYING      text
copyright    text
*COPYRIGHT*  text
INSTALL      text
license      text
LICENSE      text
NEWS         text
readme       text
*README*     text
TODO         text

# Templates
*.dot        text
*.ejs        text
*.haml       text
*.handlebars text
*.hbs        text
*.hbt        text
*.jade       text
*.latte      text
*.mustache   text
*.njk        text
*.phtml      text
*.tmpl       text
*.tpl        text
*.twig       text

# Configs
*.bowerrc       text
*.cnf           text
*.conf          text
*.config        text
.browserslistrc text
.editorconfig   text
.gitattributes  text
.gitconfig      text
.htaccess       text
*.npmignore     text
*.yaml          text
*.yml           text
browserslist    text
Makefile        text
makefile        text

# Binary Files
*.db  binary
*.p   binary
*.pkl binary
*.pyc binary
*.pyd binary
*.pyo binary
*.exe binary

# Heroku
Procfile    text
.slugignore text

# Graphics
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.tif  binary
*.tiff binary
*.ico  binary
*.svg  binary
*.eps  binary
*.ai   binary
*.bmp  binary
*.jng  binary
*.jp2  binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.psb  binary
*.psd  binary
*.svgz binary
*.wbmp binary
*.webp binary

# Audio
*.kar  binary
*.m4a  binary
*.mid  binary
*.midi binary
*.mp3  binary
*.ogg  binary
*.ra   binary

# Video
*.3gpp binary
*.3gp  binary
*.as   binary
*.asf  binary
*.asx  binary
*.fla  binary
*.flv  binary
*.m4v  binary
*.mng  binary
*.mov  binary
*.mp4  binary
*.mpeg binary
*.mpg  binary
*.ogv  binary
*.swc  binary
*.swf  binary
*.webm binary

# Archives
*.7z  binary
*.gz  binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary

# Fonts
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
