[user]
  name = Nirantak Raghav
  email = me@nirantak.com
  signingkey = 824A319553F49E10

[core]
  editor = vim
  excludesfile = ~/dotfiles/global.gitignore
  attributesfile = ~/dotfiles/.gitattributes
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX

[color]
  diff = auto
  status = auto
  ui = true

[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[commit]
  gpgsign = true

[push]
  default = current
  followTags = true

[log]
  date = human

[blame]
  date = human

[fetch]
  prune = true

[remote "origin"]
  prune = true

[diff]
  renames = copies

[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"

[merge]
  stat = true

[advice]
  statusHints = false

[help]
  autocorrect = 1

[alias]
  p = push -u origin
  l1 = log -i -1
  unstage = reset HEAD --
  amend = commit --amend --no-edit
  changes = diff --name-status
  stat = diff --stat
  whois = log -i -1 --pretty="format:%an <%ae>" --author="$1"

[github]
  user = nirantak
